.act-page {
  background-color: $light-grey;

  .breadcrumb {
    margin-bottom: $baseline*2;
  }

  .act {
    margin: 0 $gutter;
  }

  .sidebar-section {
    .sign-up-panel {
      margin-bottom: $baseline*2.5;
    }
  }
}