.landing {
  @include display(flex);
  @include flex-direction(column);
  min-height: 100vh;

  .content {
    @include flex(1 0 auto);
  }

  .call-to-action {
    @include flex(0 0 auto);
  }

  video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    background-size: cover;
    background-image: url(asset-path("ParliamentHill.gif"));
    @include filter(blur(5px));

    @media #{$phone} {
      left: -50%;
      background-size: contain;
    }

    @media #{$tablet} {
      left: 0;
      background-size: cover;
    }
  }

  .logo {
    text-align: center;
    margin-top: $baseline*4;
  }

  .search-bar {
    margin-top: $baseline*4;
  }
}