@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,600,700,300);
@import url(http://fonts.googleapis.com/css?family=Droid+Serif:400,700,700italic,400italic);

$logo-font: 'Droid Serif', serif;
$body-font: 'Open Sans', sans-serif;

body {
  font-family: $body-font;
  color: $black;
}

h1 { font-size: $x-large; }
h2 { font-size: $large; }
h3 { font-size: $medium; }
h4 { font-size: $small; }
h5 { font-size: $x-small; }

.logo {
  font-family: $logo-font;
  color: $red;
  font-size: 80px;
  font-weight: bold;
  font-style: italic;
  letter-spacing: -10px;

  a { color: $red; }
}

a {
  color: $grey;
  text-decoration: none;
}

b {
  font-weight: bold;
}

i {
  font-style: italic;
}