.act {
  p {
    margin-bottom: $baseline/2;
    line-height: 1.5;
    font-size: $small;
  }

  .Title-of-Act {
    font-size: $large;
    margin-bottom: $baseline/2;
  }

  .Part {
    font-size: $medium;
    padding: $baseline;
    background-color: $white;
    border-top: 1px solid $grey;
    border-right: 1px solid $grey;
    border-bottom: 1px solid $grey;
    border-left: 4px solid $red;
    font-weight: 300;
  }

  .MarginalNote {
    color: $red;
    text-transform: uppercase;
    font-size: $x-small;
    margin-bottom: $baseline/2;
  }

  .Part + .MarginalNote {
    padding-top: $baseline;
  }

  .MarginalNoteDefinedTerm {
    @extend .MarginalNote;
    margin-left: $baseline;
    margin-right: $baseline/2;
    padding-left: $baseline;
    background-color: $white;
  }

  .Section,
  .Definition, .HistoricalNote, .MarginalNote,
  .Subsection, .Paragraph, .MarginalNoteDefinedTerm
  div.Footnote {
    background-color: $white;
    margin-bottom: 0;
    padding-bottom: $baseline/2;
    padding-left: $baseline;
    padding-right: $baseline;
    border-left: 1px solid $light-grey-2;
    border-right: 1px solid $light-grey-2;
    & > * {
      margin-left: 0;
      border: 0;
    }

    .Definition {
      border: 0;
      dt .MarginalNoteDefinedTerm span.DefinedTerm dfn {
        border: 0;
      }
      p {
        padding-top: 10px;
      }
    }
  }

  .order {
    .MarginalNote {
      padding-left: 0;
      margin-left: 0;
      background-color: transparent;
      border: 0;
    }
  }

  .HistoricalNote {
    ul {
      margin-left: 0;
    }
    div {
      border-bottom: 1px solid $light-grey-2;
      color: #8F8F8F;
      font-size: $x-small;
      text-align: right;
    }
  }

  .Subheading {
    font-size: $medium;
    font-weight: 600;
    margin: $baseline 0;
    text-transform: uppercase;
    margin-left: $baseline;
    background-color: $white;
    margin: 0;
    margin-left: $baseline;
    padding: $baseline 0;
    padding-left: $baseline;
    border-left: 1px solid $grey;
    border-right: 1px solid $grey;
    margin-right: $baseline/2;
  }

  .DefinedTerm {
    border: 0;
    font-weight: 600;
  }

  .wb-invisible, .PITLink { display: none; }

}