.search-bar {
  @include display(flex);
  @include justify-content(center);

  button {
    font-size: $medium*1.2;
    padding: 0 $baseline;
    background-color: transparent;
    color: $red;
    border: none;
    border-radius: 0;
  }
}

.search {
  display: block;
  width: 600px;
  height: $baseline;
  background-color: rgba(255,255,255,0.3);
  font-size: 24px;
  padding: $baseline;
  text-align: left;
  border-style: solid;
  border-radius: 5px;
  border-color: $light-grey-2;

  @include placeholder {
    color: $light-grey-2;
  }

  @media #{$phone} {
    width: 60%;

  }
}

